/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type=button],
[type=reset],
[type=submit] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */
}
[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.title__text {
  font-size: 48px;
  letter-spacing: 5px;
  line-height: 26px;
  font-weight: 700;
  font-family: "Josefin Sans";
  text-align: center;
  margin: 10px auto;
}
.title__desc {
  font-size: 22px;
  letter-spacing: 6px;
  line-height: 26px;
  font-family: "Josefin Sans";
  text-align: justify;
  margin: 10px auto;
}

.nav {
  width: 100%;
  height: 90px;
  background-color: #5474fd;
  display: flex;
  align-items: center;
}
.nav .content {
  flex-direction: row;
}
.nav__main {
  justify-self: flex-start;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Josefin Sans";
  margin-left: 0;
  margin-right: auto;
}
.nav__link {
  justify-self: flex-end;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  margin: 0 15px;
}
.nav__link, .nav__main {
  text-decoration: none;
}

.form {
  max-width: 650px;
  width: 100%;
  background-color: #ffffff;
  margin: 50px auto;
  display: flex;
}
.form__text {
  flex-basis: 70%;
  border: 0;
  outline: 0;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
}
.form__text::placeholder {
  color: #999999;
}
.form__button {
  flex-basis: 30%;
  width: 150px;
  height: 60px;
  background-color: #5474fd;
  border: 2px solid #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
  outline: 0;
}
.form__button:hover {
  background-color: #f34d00;
}

.tb-block {
  background-color: #232323dd;
  padding: 30px;
  max-width: 540px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Josefin Sans";
  line-height: 26px;
}
.tb-block__title {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin: 30px 0;
}
.tb-block__text {
  font-size: 16px;
  line-height: 26px;
  color: #e8e8e8;
  font-family: "Josefin Sans";
  font-weight: 300;
  margin: 0px 0;
}
.tb-block__button {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 60px;
  background: linear-gradient(45deg, #496bfe 0%, #496bfe 35%, #496bfe 35%, #5474fd 35%, #5474fd 35%, #5474fd 100%);
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  text-decoration: 0;
}
.tb-block__button:hover {
  background: #f34d00;
}
.tb-block__button:focus {
  opacity: 0.9;
}

.feedback {
  display: flex;
  flex-direction: row;
  margin: 60px 0;
}
.feedback__content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #333333;
}
.feedback__name {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: #fefefe;
  font-family: "Josefin Sans";
}
.feedback__text {
  font-size: 17px;
  color: #fefefe;
  line-height: 26px;
  font-weight: 300;
  font-family: "Josefin Sans";
}
.feedback__text i {
  font-size: 36px;
  font-size: 36px;
  line-height: 26px;
  color: #5474fd;
}

.content {
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content__left {
  justify-self: flex-start;
  margin-left: 0;
  margin-right: auto;
}
.content__right {
  justify-self: flex-end;
  margin-right: 0;
  margin-left: auto;
}
.content__title {
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
  text-align: center;
}

.header-block {
  background: url("../img/bg_header.png") no-repeat center;
  background-size: cover;
}
.header-block .content {
  min-height: 720px;
  justify-content: center;
  align-items: center;
}
.header-block__title {
  color: #ffffff;
}
.header-block__scroll-button {
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 26px;
  color: #ffffff;
  font-family: "Josefin Sans";
  text-align: center;
  text-decoration: none;
}

.why-block {
  background: url("../img/bg_why_choose_us.png") no-repeat center;
  background-size: cover;
}
.why-block .content {
  min-height: 680px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.why-block .tb-block {
  background: none;
}
.why-block .tb-block__text {
  letter-spacing: 2px;
  margin: 10px 0;
}
.why-block .tb-block__title {
  margin: 50px 0;
  font-size: 36px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Aleo";
}
.why-block__image {
  margin: 1px;
}
.why-block__image-1 {
  margin-right: 125px;
}
.why-block__image-2 {
  margin-left: 120px;
}

.spain1-block {
  background: url("../img/bg_section_1.png") no-repeat center;
  background-size: cover;
}
.spain1-block .content {
  min-height: 700px;
  justify-content: center;
  align-items: center;
}

.spain2-block {
  background: url("../img/bg_section_2.png") no-repeat center;
  background-size: cover;
}
.spain2-block .content {
  min-height: 700px;
  justify-content: center;
  align-items: center;
}

.what-block {
  background: url("../img/bg_testimonial.png") no-repeat center;
  background-size: cover;
}
.what-block .content {
  min-height: 720px;
  justify-content: center;
  align-items: center;
}

.footer-block {
  min-height: 268px;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-block__title {
  color: #ffffff;
}
.footer-block__socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
}
.footer-block .title__text {
  font-size: 24px;
}
.footer-block .title__desc {
  font-size: 16px;
  letter-spacing: 1.5px;
}

/*# sourceMappingURL=style.css.map */
