.content {
	width: 100%;
	height: auto;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__left {
		justify-self: flex-start;
		margin-left: 0;
		margin-right: auto;
	}

	&__right {
		justify-self: flex-end;
		margin-right: 0;
		margin-left: auto;
	}

	&__title {
		font-size: 36px;
		line-height: 26px;
		color: #ffffff;
		font-weight: 400;
		font-family: "Aleo";
		text-align: center;
	}
}


// all media rules here