.header-block {
	background: url('../img/bg_header.png') no-repeat center;
	background-size: cover;
	.content {
		min-height: 720px;
		justify-content: center;
		align-items: center;
	}
	
	&__title {
		color: #ffffff;
	}

	&__scroll-button {
		position: absolute;
		bottom: 100px;
		font-size: 14px;
		letter-spacing: 3px;
		line-height: 26px;
		color: #ffffff;
		font-family: "Josefin Sans";
		text-align: center;
		text-decoration: none;
		margin-bottom: 0px;
		p {
			margin: 0px;
		}
	}
}